/* Skills */
    body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
    }

    /* Section */
    #skills-section {
    text-align: center;
    padding: 50px;
    margin: 50px ;
    }

    #skills-section h1 {
    font-size: 40px;
    margin-bottom: 40px;
    }

    /* Grid Layout */
    .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    }

    /* Card */
    .skill-card {
    width: 140px;
    padding: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
    }

    .skill-card:hover {
    transform: translateY(-6px);
    }

    /* Image */
    .skill-card img {
    width: 60px;
    margin-bottom: 10px;
    }

    /* Text */
    .skill-card p {
    margin: 0;
    font-weight: bold;
    }


    /* Mobile */
    @media (max-width: 426px) {
    #skills-section {
    padding: 50px 0px;
    }
    }

    /* Tablets */
    @media (min-width: 427px) and (max-width: 768px) {
    #skills-section {
    padding: 50px 0px;
    }
    }

    /* laptops */
    @media (min-width: 769px) and (max-width: 1024px) {


    }

    /* Desktops */
    @media (min-width: 1025px) {


    }


