/* Certifications */
    #certificates {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 50px;
        margin: 50px;
        padding-top: 50px;
    }

    /* Grid */
    .certificates-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    }

    .card {
        position: relative;
        width: 300px;
    }

    .card img {
        width: 100%;
        height: 231px;
        object-fit: cover;
        border: 2px solid #333;
    }

    .card img:hover {
    transform: scale(1.18);
    }

    /* Overlay for +5 More */
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 231px;
        background: rgba(0,0,0,0.6);
        color: white;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caption {
        margin-top: 10px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }


    /* Mobile */
    @media (max-width: 426px) {

    }

    /* Tablets */
    @media (min-width: 515px) and (max-width: 769px) {
    #certificates {
        margin: 50px 5px 0px 5px;
    }

    }

    /* laptops & Desktops */
    @media (min-width: 769px) {
    #certificates {
        margin: 50px 5px 0px 5px;
    }

    }

